.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;

}
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}