.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    margin-right: 50px;

    &:last-child {
      margin: 0;
     }
}

.navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
     color: #2196F3;
   }
}

.navigation__link-st {
    position: relative;
    text-decoration: none;
    font-family: 'Roboto';
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
     color: #2196F3;
    }

}


.navigation__link-st.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}


.navigation__link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-gruop {
    margin-left: auto;
}

.header-gruop__list {

    display: flex;
    align-items: center;

}

.header-gruop__item {
    margin-right: 50px;

}

.header-gruop__mail {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #2196F3;
    }

}

.header-gruop__mail-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-gruop__tel {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: #2196F3;
    }
}

.header-gruop__tel-icon {
    margin-right: 10px;
    fill: currentColor;
}